<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DisplayNewsPanel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <DisplayNewsPanel.Properties.Settings>
            <setting name="NewsText1" serializeAs="String">
                <value>মোঃ শাকিকুল ইসলাম ***</value>
            </setting>
            <setting name="Direction1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ForeColor1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor1" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Speed1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NewsText2" serializeAs="String">
                <value>মোঃ শাকিকুল ইসলাম ***</value>
            </setting>
            <setting name="Direction2" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="ForeColor2" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor2" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Speed2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TransparentBackColor1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransparentBackColor2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateTimeForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DateTimeBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SettingPanelLocation" serializeAs="String">
                <value>0, 1</value>
            </setting>
            <setting name="LogoLink" serializeAs="String">
                <value />
            </setting>
            <setting name="LogoSize" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="LogoLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowLogo" serializeAs="String">
                <value>False</value>
            </setting>
        </DisplayNewsPanel.Properties.Settings>
    </userSettings>
</configuration>